@media only screen and (max-width: 600px) {

 *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
#container {
    display: grid;
    height: 100vh;
    grid-template-columns:2fr 1fr;
    background-color: white;
    text-align: center;
    grid-template-areas:
        'nv nv nv nv'
        'hd hd hd hd'
        'mn mn mn mn'
        'as as as as'
        'ft ft ft ft';
}

body{
    display:flex;
    flex-direction: column;
}
/* logga */

.boklogga {
  display: block;
  margin: 190px;
  height: 8vh;
}

.kontaktlogga {
  display: block;
  margin: 190px;
  height: 8vh;
}

.ovrigtlogga{
    display: block;
    margin: 190px;
    height: 8vh;
}

.profil {
  display: block;
    margin: 190px;
    height: 8vh;
}

.fraglogga {
  display: block;
    margin: 190px;
    height: 8vh;
}

/* /logga */


.navbar{
    grid-area: nv;
    display: flex;
    justify-content: flex-end;
    align-items:center;
    height: 10vh;
    background-color: #BEA0F3;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


  }
  .navLinks {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    right: 0px;
    height: 90vh;
    top: -90vh;
    background-color: rgba(190, 160, 243, 0.404);
    width: 100%;
    transition: all 0.5s;
  }

  .navLinks a {
    color: black;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 20px;
    margin: auto;
    display: inline-block;
  }
.link1{
  transition: 0.5s;
  height: 25vh;   
  width:100vw;
  margin: 0 auto;
  text-align: center;
  }

.link1:hover{
  background-color: rgba(255, 255, 255, 0.356);
  
}

.link2{
  transition: 0.5s;
  height: 25vh;   
  text-align: center;
  width:100vw;
}
.link2:hover{
  background-color: rgba(255, 255, 255, 0.295);
  
}

.link3{
  transition: 0.5s;
  height: 25vh;   
  text-align: center;
  width:100vw;

}
.link3:hover{
  background-color: rgba(255, 255, 255, 0.295);
  
}
.link4{
  transition: 0.5s;
  height: 25vh;   
  text-align: center;
  width:100vw;

}
.link4:hover{
  background-color: rgba(255, 255, 255, 0.295);
  
}

  .burger div {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px;
    border-radius: 10%;
    transition: all 0.5s;
  }

  .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  
  .toggle .line2 {
  opacity: 0;
  }
  
  .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
  
  .navActive {
    transform: translateY(100vh);
  }

