@media only screen and (min-width: 300px) {

  *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
#container {
    display: grid;
    width: 100%;
    grid-template-columns:2fr 1fr;
    text-align: center;
    background-color: rgb(21, 21, 49);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    grid-template-areas:
        'nv nv nv nv'
        'hm hm hm hm'
        'hd hd hd hd'
        'mn mn mn mn'
        'ft ft ft ft';
}

/*nav*/

.navbar{
    grid-area: nv;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items:center;
    text-align: center;
    margin-bottom: 12px;
    height: 11vh;
    background-color: rgb(57, 87, 143);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


  
  .navLinks {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    right: 0px;
    height: 70vh;
    z-index:2;
    line-height: 20vh;
    top: -89vh;
    background-color: rgb(57, 87, 143) ;
    transition: all 0.5s;
    box-shadow: -5px 2px 3px rgba(8, 13, 78, 0.295);
  }

  .yellowbooket{
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
  }
}
  /* logga */

.boklogga {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 65px;  
}

.kontaktlogga {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 65px;
}

.ovrigtlogga{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 65px;
}

.profil {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 65px;
}

.fraglogga {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 65px;
}

/* /logga */

  .navLinks a {
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    height: 17.5px;
  }
.link1{
  transition: 0.5s;
  height: 17.5vh;
}

.link1:hover{
  background-color: rgba(255, 255, 255, 0.356);
  
}

.link2{
  transition: 0.5s;
  height: 17.5vh;

}
.link2:hover{
  background-color: rgba(255, 255, 255, 0.295);
  
}

.link3{
  transition: 0.5s;
  height: 17.5vh;


}
.link3:hover{
  background-color: rgba(255, 255, 255, 0.295);
  
}
.link4{
  transition: 0.5s;
  height: 17.5vh;


}
.link4:hover{
  background-color: rgba(255, 255, 255, 0.295);
  
}

  .burger div {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px;
    border-radius: 10%;
    transition: all 0.5s;
  }

  .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  
  .toggle .line2 {
  opacity: 0;
  }
  
  .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
  
  .navActive {
    transform: translateY(100vh);
  }

/* /nav */

.header {
  margin-top: 10px;
  margin-bottom: 10px;
  grid-area: hd;
  height: 100%;
  background-color: rgb(57, 87, 143);
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
}

*{box-sizing: border-box}

.slideshow {
  max-width: 100vw;
  position: relative;
  margin: auto;
  margin: 20px;
}

.myslides {
  display: none;
  width: 90%;
}



.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -110px;
  color: white;
  border-radius: 0 3px 3px 0;
  user-select: none;
  transition: 0.35s ease;
}

.next {
  right:0;
  border-radius: 0 3px 3px 0;
}

.prev{
  left:0;
  border-radius: 0 3px 3px 0;

}

.text1 {
  color: white;
  font-weight: bold;
 
}

.prev:hover, .next:hover {
  background-color: rgba(0, 10, 39, 0.548);
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.main {
  position: relative;
  margin-top: 32px;
  margin-bottom: 25px;
  grid-area: mn;
  background-color: rgb(57, 87, 143);
  height: 66vh;
  color: rgb(10, 16, 102);
  font-size: 12px;
  font-weight: bold;
  }

:root {
  --gutter: 25px;
}

.allbooks{
  padding: var(--gutter) 0;
  display:grid;
  grid-gap: var(--gutter) 0;
  grid-template-columns: var(--gutter) 1fr var(--gutter);
  align-content: start;
}

.allbooks > * {
  grid-column: 2 / -2;
}

.allbooks > .full {
  grid-column: 1 / -1;
}

.hs {
  display: grid;
  grid-gap: calc(var(--gutter) / 2);
  grid-template-columns: repeat(6, calc(42% - var(--gutter) * 2));
  grid-template-rows: minmax(150px, 1fr);
  
  overflow-x: scroll;
  scroll-snap-type: x proximity;
  padding-bottom: calc(.75 * var(--gutter));
  margin-bottom: calc(-.25 * var(--gutter));
}

ul {
  list-style: none;
  padding: 0;
}


.allbooks {
  width: 100vw;
  height: 250px;
  overflow-y: scroll;
}

.hs > li,
.item {
  scroll-snap-align: center;
  padding: calc(var(--gutter) / 2 * 1.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  border-radius: 15px;
}

:root {
  --gutter: 25px;
}

.otherbooks{
  padding: var(--gutter) 0;
  display:grid;
  grid-gap: var(--gutter) 0;
  grid-template-columns: var(--gutter) 1fr var(--gutter);
  align-content: start;
}

.otherbooks > * {
  grid-column: 2 / -2;
}

.otherbooks > .full {
  grid-column: 1 / -1;
}

.ha {
  display: grid;
  grid-gap: calc(var(--gutter) / 2);
  grid-template-columns: repeat(6, calc(42% - var(--gutter) * 2));
  grid-template-rows: minmax(150px, 1fr);
  
  overflow-x: scroll;
  scroll-snap-type: x proximity;
  padding-bottom: calc(.75 * var(--gutter));
  margin-bottom: calc(-.25 * var(--gutter));
}

ul {
  list-style: none;
  padding: 0;
}


.otherbooks {
  width: 100vw;
  height: 250px;
  overflow-y: scroll;
}

.ha > li,
.item {
  scroll-snap-align: center;
  padding: calc(var(--gutter) / 2 * 1.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  border-radius: 15px;
}

.footer {
  grid-area: ft;
  background-color: rgb(57, 87, 143);
  height: 10vh;
  color: lightseagreen;
}
/*SEARCH*/
.search{
  grid-area: hm;
  background-color: rgba(255, 255, 255, 0.733);
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  top: 50%;
  height: 40px;
  border-radius: 40px;
  left: 50%;
  font-style: italic;
  color: black;
  padding: 10px;
}

.search-txt {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  text-emphasis: center;
  width: 90%;
}

.searchbutton{
height: 25px;
cursor: pointer;

}

.searchbutton:hover{
  color: darkblue
}

/*/SEARCH*/

.smolpic{
  height:115px;
  box-shadow: -1px 0px 10px rgba(10, 16, 100, 0.185);
}

.smolpic:hover{
  transform: rotate(15deg);
  transition: 1s;
}
  
.hooder {
  grid-area: hd;
  height: 340px;
  background-color: rgb(146, 189, 247);
  margin-bottom: 12px;
  text-align: center;
  color: black;
  font-weight: bold;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.profilepic{
height: 100px;
}

#moon{
  grid-area: mn;
  background-color: rgb(57, 87, 143);
  height: 500px;
  margin-bottom: 12px;
  margin-left: 10px;
  margin-right: 10px;
}

.classes{
  background-color: rgb(146, 189, 247);
  height: 30px;
}

.otherclasses{
  background-color: rgb(91, 143, 211);
  height: 30px;
  font-stretch: extra-expanded;
}

#fpt{
  background-color: rgb(57, 87, 143);
  grid-area: ft;
  margin-bottom: 12px;
  height: 100px;
  color: lightseagreen;

}

.arrow{
  width: 50%;
}

#wowsie{
  grid-area: hd;
  height: 50px;
  background-color: rgb(146, 189, 247);
  margin-right: 10%;
  margin-left: 10%;
  margin-bottom: 2%;
  font-size: 39px;
  font-weight: 530;
}

.meen{
  grid-area: mn;
  font-size: 14px;
  text-align: left;
  background-color: rgb(146, 189, 247);
  margin-left: 30px;
  margin-right: 30px;
}

#spice{
  font-size: 20px;
}

#jajaja{
  margin-top: 10px;
  font-weight: 560;
  color:grey
  
}
#massatext{
  margin-top: 10px;
  font-size: 12px;;
  margin-bottom: 10px;
}

.blok{
  background-color: white;
  height: 110%;
  margin-left: 10%;
  margin-right: 10%;

}

#aa{
  margin: 10px;
}

#feeter{
  grid-area: ft;
  height: 50px;
  background-color: rgb(57, 87, 143);
  text-align: center;
  color: lightseagreen;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#yellowbooket{
  text-align: center;
}

.retreat{
  border: none;
  background-color: rgba(21, 21, 49, 0.233);
  width:60px;
  height: 35px;
  font-weight: 500;
  cursor: pointer;
  margin-right: 90.6vw;
}

.retreat:hover{
transition: 0.4s;
background-color: rgba(146, 190, 247, 0.5);
}

.tinybox{
  grid-area: hm;
}

.smallerbox{
  background-color: rgb(146, 189, 247);
  height: 65px;
  margin-bottom: 13px;
  margin-left: 6%;
  margin-right: 6%;
  font-size: 38px;
}

.contactinfo{
  grid-area: hd;
  height: 400px;
  background-color: rgb(146, 189, 247);
  margin-bottom: 30px;

}

.idk{
  grid-area: mn;
  background-color: rgb(21, 21, 49);
  height: 581px;
}

.realfoot{
  grid-area: ft;
  background-color: rgb(57, 87, 143);
  height: 11vh;
  color: lightseagreen;

}

.email{
  height:15vh;
}

.email:hover{
  transition: 0.3s;
  background-color: rgba(255, 255, 255, 0.438);
}
.telefon {
  height:15vh;
}

.telefon:hover{
  transition: 0.3s;
  background-color: rgba(255, 255, 255, 0.438);
}
.instagram {
  height:15vh;
}

.instagram:hover{
  transition: 0.3s;
  background-color: rgba(255, 255, 255, 0.438);
}
.adress{
  height:15vh;
}
.adress:hover{
  transition: 0.3s;
  background-color: rgba(255, 255, 255, 0.438);
}

.geemail{
  color: rgb(61, 46, 148);
  margin-left: 30px;
}

.geemail:hover{
  transition: 0.27s;
  color: white;
}

.phoen{
  color: rgb(61, 46, 148);
}
.phoen:hover{
  transition: 0.27s;
  color: white;
}

.thingy{
  color: rgb(61, 46, 148);

}

.thingy:hover{
  transition: 0.27s;
  color: white;
}

.adrees{
  color: rgb(61, 46, 148);

}

.adrees:hover{
  transition: 0.27s;
  color: white;
}

#fak{
  font-size: 30px;
  font-weight: 600;
}

.questionbar{
  grid-area: mn;
  background-color: lightskyblue;
  height: 514px;
  width: 100%;
  margin-bottom: 13px;


}

.kvestions{
  height: 479px;
  background-color: rgb(212, 239, 255);
  line-height: 17vh;
  font-size: 18px;
  font-weight: 500;
  margin-left: 15%;
  margin-right: 15%;

}

.grass{
  height:119.75px;
}

.grass:hover{
  transition: 0.3s;
  background-color: rgba(255, 255, 255, 0.438);
}
.rain {
  height:119.75px;
}

.rain:hover{
  transition: 0.3s;
  background-color: rgba(255, 255, 255, 0.438);
}
.snow {
  height:119.75px;
}

.snow:hover{
  transition: 0.3s;
  background-color: rgba(255, 255, 255, 0.438);
}
.read{
  height:119.75px;
}
.read:hover{
  transition: 0.3s;
  background-color: rgba(255, 255, 255, 0.438);
}

.possibly{
  grid-area: mn;
  background-color:lightskyblue;
  height: 514px;
  width: 100%;
  margin-bottom: 13px;

}

.ja{
  height: 479px;
  background-color: rgb(212, 239, 255);
  line-height: 70vh;
  font-size: 25px;
  font-weight: 500;
  margin-left: 15%;
  margin-right: 15%;
}